# Dependencies
node_modules/
.expo/
dist/
build/
web-build/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Databases
*.sqlite
*.db
*.db-journal

# Python
venv/
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db
